/* layout.entete */
.entete {
  background-color: white;
  &__contenu {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__logo {
    z-index: 11;
    img {
      width: 75px;
      height: 75px;
      margin: 1em;
    }
  }
  /* Navigation */
  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: $point-rupture) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: $point-rupture) {
      display: block;
      position: absolute;
      z-index: 11;
      top: 2.5em;
      right: 0;
    }
  }
  &__menu {
    // ul
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
  }
  &__menu-item {
    //li
    a {
      display: block;
      background-color: white;
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
