/* layout.erreur404 */

.erreur404{
    &__bouton-accueil{
        background-color: yellow;
        color: lightskyblue;
    }
    &__bouton-menu{
        background-color: yellow;
        color: black;
    }
}