/* layout.galerie */
.galerie {
  padding: 1em;
  margin-top: 3em;

  &__titre {
    color: black;
  }

  &__grille {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    gap: 10px;
    @media screen and (max-width: $point-rupture) {
      display: block;

      img {
        margin-top: 1em;
      }
    }
  }

  &__image:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    box-shadow: 0 0 10px black;
  }
}

.conteneur__galerie {
  .wp-block-image img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    box-shadow: 0 0 10px black;
    cursor: pointer;
  }
}

.populaire {
  margin-top: 2em;
  &__404 {
    text-align: center;
    img {
      display: inline-block;
    }
  }
  &__category {
    margin: 0 3em;
    max-width: var($point-rupture);

    &__contenu {
      display: flex;
      justify-content: space-between;
      padding: 1.5em;
      margin-bottom: 2em;
      gap: 3em;

      border: 1px solid seagreen;
      border-radius: 30px;
      background-color: rgba(51, 130, 98, 0.3);

      &:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-out;
        box-shadow: 0 0 10px black;
      }
    }
    &__titre {
      filter: drop-shadow(0 0 0.1em white);
      h2 {
        margin-top: 0;
      }
      a {
        color: seagreen;
        &:hover {
          background-color: seagreen;
          color: white;
        }
      }
    }
    &__image {
      width: 150px;
    }
    img {
      max-width: unset;
    }
  }
  &__single {
    margin: 0 3em;
    max-width: var($point-rupture);
    text-align: center;

    @media screen and (max-width: $point-rupture) {
      .attachment-large {
        width: auto;
      }
    }
    .wp-block-gallery {
      margin-top: 3em;
    }

    @media screen and (min-width: $point-rupture) {
      .wp-block-image:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-out;
        box-shadow: 0 0 10px black;

        cursor: pointer;
      }
    }
  }
}
