/* layout.galerie */
.galerie {
  padding: 1em;
  margin-top: 3em;

  &__titre {
    color: black;
  }

  &__grille {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    gap: 10px;
    @media screen and (max-width: $point-rupture) {
      display: block;

      img {
        margin-top: 1em;
      }
    }
  }

  &__image:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    box-shadow: 0 0 10px black;
  }
}
