/* layout.hero */
.hero {
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: $point-rupture) {
    padding: 0 2em;
  }

  &__contenu {
    background-color: rgba(255, 255, 255, 0.665);
    width: fit-content;
    padding: 2em;
    border: 1px solid seashell;
    border-radius: 30px;
  }

  &__titre {
    color: black;
    text-shadow: white 1px 0 10px;
  }

  &__description {
    max-width: 56ch;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: white 1px 0 10px;
    @media screen and (max-width: $point-rupture) {
      max-width: 30ch;
      font-size: 16px;
    }
  }

  &__medias-sociaux {
    display: flex;
    margin-top: 1em;
    gap: 1em;
  }
}
