/* layout.hero */
.hero {
  background-image: url("images/acores-large.webp");
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: $point-rupture) {
    padding: 0 2em;
  }

  &__titre {
    color: black;
    text-shadow: white 1px 0 10px;
  }

  &__description {
    max-width: 56ch;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: white 1px 0 10px;
    @media screen and (max-width: $point-rupture) {
      max-width: 30ch;
      font-size: 16px;
    }
  }

  &__medias-sociaux {
    display: inline-block;
    margin-top: 1em;
    max-width: 30px;
    filter: drop-shadow(0 0 0.1em white);

    &:hover {
      filter: invert(1);
    }
  }
}
