/* layout.piedpage */
.piedpage {
  text-align: center;
  margin-top: 2em;
  padding: 3em 0;
  background-color: seagreen;
  text-shadow: white 1px 0 10px;
  box-shadow: inset 0px 10px 5px -5px rgba(50, 50, 50, 0.75);
}
@media screen and (max-width: $point-rupture) {
  .piedpage {
    margin-top: 0;
    padding: 1.5em 0;
  }
}
