.accordeon {
  &__chk {
    display: none;
  }
  &__excerpt {
    max-height: 0;
    overflow: hidden;
  }
}

.accordeon__excerpt {
  // animation
  transform: height;
  transition: all 0.5s ease-out;
  border: 1px solid #d0a720;
  background-color: lightyellow;
}

.accordeon__chk:checked ~ .accordeon__excerpt {
  max-height: 300px;
  padding: 0.5em;
}

.accordeon__chk:checked ~ label h3 {
  &::before{
    content: "\1F837";
    padding-right: 1em;
  }
}

/* input type="checkbox" */

.destination {
  background-color: #C1D9D0;

  .list_categories {
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    gap: 1em;
    justify-content: center;

    li {
    padding: 1em;
    background-color: #ffc201;
    border: 1px solid #d0a720;

     &:hover {
      cursor: pointer;
    }
   }
  }

  &__contenu {
    padding: 3em 2em;
  }

  &__list {
    h3 {
      background-color: #ffc201;
      border: 1px solid #d0a720;
      padding: 0.5em;
      margin-bottom: 0;

      &::before{
        content: "\1F836";
        padding-right: 1em;
      }

      &:hover{
        cursor: pointer;
      }
    }
    
    a {
      color: seagreen;
    }
  }
}