.conteneur {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  &__carte {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    justify-content: center;
    border: 1px solid seagreen;
    padding: 10px;
    align-items: center;
    background-color: rgba(51, 130, 98, 0.3);

    @media screen and (min-width: $point-rupture) {
      &:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-out;
        box-shadow: 0 0 10px black;
      }
    }

    a {
      color: seagreen;
    }
  }
  &__carte a:hover {
    background-color: seagreen;
    color: white;
  }
  &_galerie {
    flex: 1;
  }
  h2 {
    height: 2em;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
