/* components.recherche */
.recherche {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin: 1em;
  @media screen and (max-width: $point-rupture) {
    display: none;
  }

  &__input {
    border: none;
    outline: none;
  }

  &__bouton {
    border-left: 1px solid gray;
  }
}
